body{
  background-color: beige;
  color:darkgreen
}
.App{
  text-align: center;
}
.size {
  font-size: larger;
}
.add {
  width: 7rem !important;
}
.btn {
  background-color:darkgreen;
  width:7rem;
  border-radius:8px ;
  color:whitesmoke;
  
}
.btn {
  margin-right:10px ;
}
.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;     
  align-items: center;
  gap: 1rem;
  margin-top:3rem;

}
img {
  height: 10rem;
  width: 20rem;
  border-radius: 1rem;
  border: 3px solid ;
}

.Card{
  margin-top:25px;
}
